//File is used to config the styling of the web page
//File is used to override bootstrap variables
//This allows us to easily style the site while using bootstrap

// Override default variables before the import
//$body-bg: #000;
$primary:#000000;
$secondary:#04d3c9;
//$tertiary:#86C246;
//$success:#FEC100;
//$danger:#703B3B;
//$info:#63e792;
//$warning:#FFE869;
//$light:#d2f7d4;
//$dark:#2E6A3B;
//$spacer:1rem;
//$border-width:1px;
//$btn-border-radius:.25rem;
//$card-cap-bg:#eeffee;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


//Create new classes after bootstrap import
.bg-primary-gradient{
  background: linear-gradient($black 70%, $black 100%);
}

.hero-logo{
  margin-left: 10vh;
  margin-right: 10vh;
}

.circle-logo{
  margin-left: 2vh;
  margin-right: 2vh;
}
